<h1>Listing listings</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Yacht name</th>
    <th>Yacht new</th>
    <th>Yacht location city</th>
    <th>Yacht location state</th>
    <th>Yacht location country</th>
    <th>Yacht specification length</th>
    <th>Yacht specification manufacturer</th>
    <th>Yacht specification model</th>
    <th>Yacht specification year</th>
    <th>Yacht specification designer</th>
  </tr>

<% for listing in @listings %>
  <tr>
    <td><%=h listing.price %></td>
    <td><%=h listing.yacht_name %></td>
    <td><%=h listing.yacht_new %></td>
    <td><%=h listing.yacht_location_city %></td>
    <td><%=h listing.yacht_location_state_id %></td>
    <td><%=h listing.yacht_location_country_id %></td>
    <td><%=h listing.yacht_specification_length %></td>
    <td><%=h listing.yacht_specification_manufacturer %></td>
    <td><%=h listing.yacht_specification_model %></td>
    <td><%=h listing.yacht_specification_year %></td>
    <td><%=h listing.yacht_specification_designer %></td>
    <td><%= link_to 'Show', listing %></td>
    <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
    <td><%= link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New listing', new_listing_path %>
